The objective of the current small extend is to determine to what extend furnished data has bias between **allergens** and **non-allergens** proteins.

# Imports

In [1]:
%matplotlib inline

import pandas as pd
import seaborn as sns

sns.set()

In [2]:
data_path = '/home/pierre/riken/data/riken_data/complete_from_xlsx.tsv'

In [19]:
df = pd.read_csv(data_path, sep='\t')

# Studies of Genre and species of input data

One trap our dataset could have is allergens and non allergens proteins data have strong structural difference.
Thus, it could be such properties and not the allergenic characteristic that could be predicted by our classifiers.

For that purpose, we first check that our data is balanced in terms of protein origin, i.e. that for a same Genre/species, we can find allergens *and* non allergens.

Following cell provides a table of counts of examples for each Genre that appears in allergens/non-allergens

In [4]:
gped = df.groupby(['is_allergenic', 'genre']).genre.count()
res = gped.unstack().dropna(axis=1)
display(res.T)
print('Nb examples in dataset for which we have simultaneously allergenic and non allergenic proteins from same Genre : {} / {}'.format(res.sum().sum(), len(df)))

is_allergenic     False  True
genre
actinidia          36.0   29.0
arachis            29.0   42.0
bos              6015.0   26.0
charybdis           3.0    1.0
chionoecetes       10.0    1.0
eriocheir           2.0    1.0
fagopyrum          50.0   11.0
farfantepenaeus     1.0    1.0
fenneropenaeus      7.0    4.0
gallus           2300.0   16.0
glycine           404.0   42.0
litopenaeus        36.0    4.0
macrobrachium      12.0    2.0
malus               1.0   53.0
marsupenaeus        9.0    1.0
metapenaeus         4.0    1.0
oncorhynchus       89.0    3.0
pandalus            4.0    1.0
paralithodes        4.0    2.0
penaeus            33.0    5.0
portunus            1.0    3.0
salmo             160.0    7.0
scylla              6.0    3.0
staphylococcus    643.0    5.0
triticum          378.0   94.0

Nb examples in dataset for which we have simultaneously allergenic and non allergenic proteins from same Genre : 10595.0 / 12851

Following cell provides a table of counts of examples for each Species that appears in allergens/non-allergens

In [29]:
gped = df.groupby(['is_allergenic', 'genre', 'species']).genre.count()
res = gped.unstack(level=[1,2]).dropna(axis=1)
display(res.T)
print('Nb examples in dataset for which we have simultaneously allergenic and non allergenic proteins from same Species : {} / {}'.format(res.sum().sum(), len(df)))

is_allergenic                    False  True
genre          species
actinidia      chinensis          13.0    6.0
               deliciosa          23.0   17.0
arachis        hypogaea           29.0   42.0
bos            taurus           6015.0   25.0
chionoecetes   opilio             10.0    1.0
eriocheir      sinensis            2.0    1.0
fagopyrum      esculentum         48.0    8.0
               tataricum           2.0    3.0
fenneropenaeus merguiensis         5.0    2.0
gallus         gallus           2300.0   16.0
glycine        max               404.0   41.0
litopenaeus    vannamei           28.0    4.0
macrobrachium  rosenbergii         9.0    2.0
marsupenaeus   japonicus           9.0    1.0
metapenaeus    ensis               4.0    1.0
oncorhynchus   keta               32.0    1.0
pandalus       borealis            4.0    1.0
paralithodes   camtschaticus       4.0    2.0
penaeus        monodon            31.0    5.0
portunus       trituberculatus     1.0    1.0
salmo          salar             160.0    7.0
scylla         serrata             6.0    1.0
staphylococcus aureus            643.0    5.0
triticum       aestivum          378.0   89.0

Nb examples in dataset for which we have simultaneously allergenic and non allergenic proteins from same Species : 10442.0 / 12851